<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Name</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].name %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>E-mail</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].email %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Class(es)</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].class_new %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>

    <h2>Sports</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].sports %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>

    <h2>Car</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].car %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <h2>Rating</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
            <li><%= results[5][i].rating %> :  <%= results[5][i].count %></li>
    <% } %>     
    </ul>
    <h2>Date</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
            <li><%= results[6][i].date %> :  <%= results[6][i].count %></li>
    <% } %> 
    </ul>

    <h2>Comments</h2>
    <ul>
    <% for (var i=0; i<results[7].length; i++){ %>
            <li><%= results[7][i].comments %> :  <%= results[7][i].count %></li>
    <% } %> 
    </ul>
</body>
</html>